a.navbar-brand {
    font-size: 60px;
}

div#navbarNav{
    justify-content: end;
    font-size: 20px;
    margin-right: 200px;
}
a.nav-link.active {
    margin-left: 50px;
}
h4{
    font-size: 35px;
}